<table width=100% cellpadding=0 cellspacing=0><tr>
	<td valign=top><table width=100% cellpadding=0 cellspacing=0>
	<tr><td><table cellpadding=2 cellspacing=2 width=100% class=border>
		<tr><td colspan=3 align=center class=title_c><b>{CAT_TITLE}</b></td></tr>
		<!-- BEGIN cat_info --><tr><td align=center valign=top><img src='{CAT_IMG}' width='150px'><br><font color='red'><b>{CAT_TITLE}</b></font></td><td colspan=2 valign=top>{CAT_INFO}</td></tr><!-- END cat_info -->
		<!-- BEGIN list -->
		<!-- #BEGIN begin_tag --><tr class={song.CLASS} align=center><!-- #END begin_tag -->
		<!-- #BEGIN list_row -->
		<td valign=top align=center width=33%>
			<table cellpadding=2 cellspacing=2 width=100% class=border>
			<tr><td valign=bottom align=center><a href="{song.URL}">{song.PIC}</a></td></tr><tr><td valign=bottom align=center><a href="{song.URL}"><b>{song.TITLE}</b>{song.TITLE2}</a><br><i>{song.CAT}</i>
			</td></tr></table>
		</td>
		<!-- #END list_row -->
		<!-- #BEGIN end_tag --></tr><!-- #END end_tag -->
		<!-- END list -->
		<tr class={CLASS} align=center><td colspan=3>Total <b>{TOTAL}</b> movies</b></td></tr>
	</table></td></tr>
	<tr><td>{VIEW_PAGES}</td></tr>
	</table></td>
</tr></table>