<table width=100% cellpadding=2 cellspacing=2>
<tr><td colspan=2 align=center>Send this movie to friends !
			<div class="border" style="padding:1;margin:5" align=center><input type="text" onFocus="this.select()" value="{MEDIA_LINK}" style="width:100%;text-align:center;border:0"></div>
	</td></tr>
<tr><td class=title_t colspan=3 align=center><a href='Broken,{song.ID}' target='_blank'><img src='{TPL_LINK}/img/media/broken.gif'> <b>Report broken link !</b></a></td></tr>
</tr>
<tr><td colspan=3><div style="width:100%;display:none" align=center id="comment_field"></div></td></tr>
</table>