<table width=100% cellpadding=0 cellspacing=0><tr>
	<td valign=top><table width=100% cellpadding=0 cellspacing=0>
	<tr><td><table cellpadding=2 cellspacing=2 width=100% class=border>
		<tr><td colspan=3 align=center class=title_c><b>{CAT_TITLE}</b></td></tr>
		<!-- BEGIN list -->
		<!-- #BEGIN begin_tag --><tr class={song.CLASS} align=center><!-- #END begin_tag -->
		<!-- #BEGIN list_row -->
		<td valign=top align=center width=33%>
			<table cellpadding=2 cellspacing=2 width=100% class=border>
			<tr><td valign=bottom align=center><a href={album.URL}><img src="{album.IMG}" width="120px"></a></td></tr><tr><td valign=bottom align=center><a href={album.URL}><b>{album.NAME}</b></a>
			</td></tr></table>
		</td>
		<!-- #END list_row -->
		<!-- #BEGIN end_tag --></tr><!-- #END end_tag -->
		<!-- END list -->
		<tr class={CLASS} align=center><td colspan=6>Found <b>{TOTAL}</b> collections</b></td></tr>
	</table></td></tr>
	<tr><td>{VIEW_PAGES}</td></tr>
	</table></td>
</tr></table>