<html>
<head>
	<meta http-equiv=Content-Type content="text/html; charset=UTF-8">
	<title>{WEB_TITLE}</title>
	<meta name="description" content="movies, movies trailer, free movies, download movies" />
	<meta name="keywords" content="Movies Free Download - All of the movies you need are here !" />

	<meta http-equiv="imagetoolbar" content="no">
	<link rel=alternate type="application/rss+xml" title="{WEB_TITLE}" href="rss.php">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
	<link rel=stylesheet href='{TPL_LINK}/body.css' type=text/css>

</head>

<body>

<div style="width:60%; position:absolute; display:block; left:20%; top:20%;">

	<table width=100% cellpadding=0 cellspacing=0 class=border style="margin:0px;padding:0px">
		<tr><td align=center class=title_c><b>Announcement</b></td></tr>
		<tr>
			<td align=center class=border style="padding: 10px;">
				<img src="img/warning.gif" border="0"><br/>
				<b><font color="red" size="3">Your account has been banned!</font></b>
			</td>
		</tr>
	</table>
</div>

</body>
</html>