<table cellpadding=2 cellspacing=2 width=100% class=border>
	<tr><td align=center class=title_r>Partners</td></tr>
	<tr><td align=center><MARQUEE scrollAmount=1 direction=up loop=true truespeed scrolldelay=12 height=150 onMouseOver="this.stop()" onMouseOut="this.start()">
	<!-- BEGIN ads -->
	<!-- #BEGIN ads.row -->
	<div align=center><a href="{ads.URL}" target="_blank"><img width="130" src="{ads.IMG}" title="{ads.WEB}" alt="{ads.WEB}"></a></div>
	<!-- #END ads.row -->
	<!-- END ads -->
	</marquee></td></tr>
</table>