<table width=100% cellpadding=2 cellspacing=2 class=border>
	<tr class=title_t><td><img src='{TPL_LINK}/img/media/bullet_big.gif'> <a href=Home>Homepage</a></td>
	<td><img src='{TPL_LINK}/img/media/bullet_big.gif'> <a href=board>Forum</a></td>
	<td><img src='{TPL_LINK}/img/media/bullet_big.gif'> <a href=List_Album>List of collections</a></td>
	<td><img src='{TPL_LINK}/img/media/bullet_big.gif'> <a href=Mod_Adv>For advertising</a></td>
	<td><img src='{TPL_LINK}/img/media/bullet_big.gif'> <a href=Mod_How>How to download</a></td>
	<td><img src='{TPL_LINK}/img/media/bullet_big.gif'> <a href=Mod_About>About us</a></td></tr>
</table>