<table width=100% cellpadding=2 cellspacing=2 class=border>
	<tr><td class=title_r align=center colspan=2>New collections</td></tr>
	<!-- BEGIN new_album -->
	<!-- #BEGIN new_album.begin_tag --><tr><!-- #END new_album.begin_tag -->
	<!-- #BEGIN new_album.row -->
		<td align=center><table>
			<tr><td align=center><a href="{album.URL}"><img src="{album.IMG}" alt="{album.NAME}" width=100px><br>{album.NAME}</a></td></tr>
		</table></td>
	<!-- #END new_album.row -->
	<!-- #BEGIN new_album.end_tag --></tr><!-- #END new_album.end_tag -->
	<!-- END new_album -->
</table>