<table cellpadding=2 cellspacing=2 width=100% class=border>
	<tr><td align=center colspan=2 class=title_l>Statistic</td></tr>
	<!--tr><td class=fr>Singers</td><td class=fr_2><b>{stat.SINGERS}</b></td></tr-->
	<tr><td class=fr>Movies</td><td class=fr_2><b>{stat.SONGS}</b></td></tr>
	<tr><td class=fr>Collections</td><td class=fr_2><b>{stat.ALBUMS}</b></td></tr>
	<tr><td class=fr>Views</td><td class=fr_2><b>{stat.VIEWS}</b></td></tr>
	<!--tr><td class=fr>Members</td><td class=fr_2><b>{stat.USERS}</b></td></tr-->
	<tr><td class=fr>Visitors</td><td class=fr_2><b>{stat.COUNTER}</b></td></tr>
</table>