<table width=100% cellpadding=2 cellspacing=2 class=border>
	<tr><td class=title_l align=center>Top views</td></tr>
	<tr><td>
		<!-- BEGIN top_all -->
		<!-- #BEGIN top_all.row -->
		<div style="background-color:#FBFBFB;border-bottom: 2px solid #FFF"><img src='{TPL_LINK}/img/media/bullet_tiny.gif'><a onmouseover="ddrivetip('{song.PICZ}')"; onmouseout=hideddrivetip(); href={song.URL}>{song.FULLTITLE}</a></div>
		<!-- #END top_all.row -->
		<!-- END top_all -->
	</td></tr>
</table>
<div id=dhtmltooltip></div>